version: "3.8"

services:
  backend:
    build: ./backend
    container_name: vm_manager_backend
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
      - FLASK_ENV=development
    volumes:
      - ./backend:/app
      - ./student_vms:/app/student_vms
    networks:
      - vm_manager_net

  frontend:
    build: ./frontend
    container_name: vm_manager_frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - vm_manager_net

networks:
  vm_manager_net:
    driver: bridge
