services:
  # --- BACKEND (API Python/Flask) ---
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: vm_manager_backend
    restart: always
    env_file:
      - .env
    volumes:
      - /var/run/libvirt/libvirt-sock:/var/run/libvirt/libvirt-sock
      - ./student_vms:/app/student_vms
    networks:
      - admin_proxy # <-- CORRECTION ICI
      - internal
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=admin_proxy" # <-- CORRECTION ICI
      - 'traefik.http.routers.vm_back.rule=Host(`vm-manager.iris.a3n.fr`) && PathPrefix(`/api`)'
      - "traefik.http.routers.vm_back.entrypoints=web"
      - "traefik.http.services.vm_back.loadbalancer.server.port=5000"

  # --- FRONTEND (Site Web Nginx) ---
  frontend:
    build: 
      context: ./frontend
    container_name: vm_manager_frontend
    restart: always
    ports:
      - "5000:80" 
    networks:
      - admin_proxy # <-- CORRECTION ICI
      - internal
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=admin_proxy" # <-- CORRECTION ICI
      - 'traefik.http.routers.vm_front.rule=Host(`vm-manager.iris.a3n.fr`)'
      - "traefik.http.routers.vm_front.entrypoints=web"
      - "traefik.http.services.vm_front.loadbalancer.server.port=80"

networks:
  internal:
    driver: bridge
  admin_proxy: # <-- CORRECTION ICI
    external: true
